h1 {
  margin-top: 50px;
  text-align: center;
}

.buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
}

button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

.start {
  background-color: green;
}

.stop {
  background-color: red;
}
